<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{page.title}}</title>

  <meta name="description"
        content="Bolt Protocol - a highly efficient, lightweight messaging protocol for databases"/>

  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}" />

  <meta name="copyright" content="Creative Commons 3.0 Attribution-ShareAlike"/>

  <link rel="stylesheet" href="{{"/css/foundation.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{"/css/asciidoctor.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{"/css/coderay.css" | prepend: site.baseurl }}"/>

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{"/images/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{"/images/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{"/images/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{"/images/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{"/images/apple-touch-icon-60x60.png" | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{"/images/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{"/images/apple-touch-icon-76x76.png" | prepend: site.baseurl }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{"/images/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
  <link rel="icon" type="image/png" href="{{"/images/favicon-196x196.png" | prepend: site.baseurl }}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{"/images/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{"/images/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{"/images/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{"/images/favicon-128.png" | prepend: site.baseurl }}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{{"/images/mstile-144x144.png" | prepend: site.baseurl }}" />
  <meta name="msapplication-square70x70logo" content="{{"/images/mstile-70x70.png" | prepend: site.baseurl }}" />
  <meta name="msapplication-square150x150logo" content="{{"/images/mstile-150x150.png" | prepend: site.baseurl }}" />
  <meta name="msapplication-wide310x150logo" content="{{"/images/mstile-310x150.png" | prepend: site.baseurl }}" />
  <meta name="msapplication-square310x310logo" content="{{"/images/mstile-310x310.png" | prepend: site.baseurl }}" />

  <script src="{{"/js/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
  <script src="{{"/js/toc.js" | prepend: site.baseurl }}"></script>
</head>
<body>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="{{"/" | prepend: site.baseurl }}">Bolt Protocol</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown name">
        <h1>
          <a href="{{"/v1/" | prepend: site.baseurl }}">Version 1</a>
        </h1>
        <ul class="dropdown">
          <li><a href="{{"/v1/#overview" | prepend: site.baseurl }}">Overview</a></li>
          <li><a href="{{"/v1/#transport" | prepend: site.baseurl }}">Transport Layer</a></li>
          <li><a href="{{"/v1/#messaging" | prepend: site.baseurl }}">Messaging</a></li>
          <li><a href="{{"/v1/#serialization" | prepend: site.baseurl }}">Serialization</a></li>
          <li><a href="{{"/v1/#examples" | prepend: site.baseurl }}">Examples</a></li>
        </ul>
      </li>
    </ul>
    <ul class="right hide-for-small">
      <img src="{{"/images/boltprotocol.png" | prepend: site.basurl }}" style="height: 6rem;margin: 5px 5px 0 0;" />
    </ul>
  </section>
</nav>

<section role="main" class="scroll-container">
  <div class="row">
    <div class="small-12 columns" role="content">
      <h1>{{page.title}}</h1>
      {{content}}
    </div>
  </div>
</section>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-12 columns">
        <p>Licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons 3.0 Attribution-ShareAlike</a>.</p>
        <p><a href="https://github.com/neo4j/neo4j/tree/3.0.6/manual/bolt/src/docs/dev">Originally authored</a> by <a href="https://neo4j.com">Neo Technology, Inc.</a>, with modifications to original source for publishing and clarity.</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{"/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{"/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).foundation();
</script>
<script src="{{"/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{"/js/foundation/foundation.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).foundation();
  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>
